{% extends '::layout.html.twig' %}
{% block content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="nazwa użytkownika"/>
    <input type="password" id="password" name="_password" placeholder="hasło" />

    <input type="hidden" name="_target_path" value="/profile" />
    <br/>
    <button type="submit">Zaloguj się</button>

    <br>
    <p><a href="{{ path('user_resetting_request') }}">Zapomniałeś hasła?</a></p>
    <p><a href="{{ path('user_registration_register') }}">Dołącz</a></p>
</form>
{% endblock %}