{% extends '::layout.html.twig' %}

{% block content %}


    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'players_Form'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_widget(form.minimumRank, {'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.maximumRank, {'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.type, {'attr': {'class': 'form-control'} }) }}
    </div>

    {#
    {% if players is defined %}
        <div class="row">
        {% for player in players %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumbnail">
                    <img class="img-circle pull-left" src="{{ player.profile.profileData.response.players['0'].avatarmedium }}" alt=""/>
                    {{ player.username }}<br>

                    <span><a class="text-muted" href="{{ player.profile.profileData.response.players['0'].profileurl }}">{{ player.profile.profileData.response.players['0'].personaname }}</a></span></td>
                    {{ player.profile.rank }}
                </div>
               &#123;&#35; <td><a href="{{ path('players_invite', { 'username': player.username }) }}">Invite</a></td>&#35;&#125;
        {% endfor %}
        </div>
    {% endif %}
#}
{% endblock %}